.footer__wrap{
    margin-top: 80px;
    height: 100px;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 34px;
  }
  
  .footer{
    color:#757575;
  }