 
  .modal {
    display: none;    /* Hidden by default */
    position: fixed;    /* Stay in place */
    z-index: 100;    /* Sit on top */
    left: 0px;
    top: 0px;
    width: 100%;    /* Full width */
    height: 100%;    /* Full height */
    overflow: auto;    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);    /* Black w/ opacity */
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color:#757575;
    background-color: #1e1e1e;
    margin: 15% auto;
    padding: 10px;
    border-radius: 2px;
    border: 2px solid #007aff;
    width: fit-content;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}


.modal-dialog{
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}

.modal.show .modal-dialog {
  transform: none;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

  .card-title {
    text-align: center;
  }

  .card-text {
    text-align: center;
    margin: 5px 5px;
    width: 68%;
  }
  
  @-webkit-keyframes animatetop {
      from {
          top: -300px;
          opacity: 0
      }
      to {
          top: 0;
          opacity: 1
      }
  }
  
  @keyframes animatetop {
      from {
          top: -300px;
          opacity: 0
      }
      to {
          top: 0;
          opacity: 1
      }
  }
  
  .modal:target {
      display: block;
  }
  
  #closeModal {
      margin: 0 auto;
  }
  