body{
    margin: 0;
    background-color: #1c1c1c;
    font-family: "Graphik Kinopoisk LC Web",Arial,sans-serif;
  }

  img{
    transition: all 5s ease-out;
  }

  .card:hover img{
    transform: scale(1.1);
  }

  .card-inner{
    padding: 10px;
  }

  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
  }

  .card{
    width: 330px;
    height: 600px;
    color: #757575;
    background-color: #1c1c1c;
    overflow: hidden;
  }

  .card:hover{
    box-shadow: 0px 0px 51px -3px rgba(0,0,0,1);
  }

  .posterWrapper{
    overflow: hidden;
    position: relative;
    top: -10px;
    left: -10px;
  }

  .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-text{
    margin: 5px 5px;
  }

  .btn{
    font-size: 16px;
    outline: none;
  }

  .btn-primary{
    position: relative;
    top: 20px;
    left: 0px;
    color: whitesmoke;
    background-color: #007aff;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
  }
  
  .btn-primary:hover{
    transform: scale(1.1);
    opacity: 0.6;
  }

  .preloader__wrap {
      position: fixed;
      background: #000000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 200;
      transition: 1s all;
      opacity: 1;
      visibility: visible;
  }
  
  .preloader {
      width: 150px;
      height: 150px;
      border: 15px solid #FFFFFF;
      border-top-color: #FFFF00;
      border-bottom-color: #FF00FF;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation: 1s animation_loader infinite linear;
  }
  
  .unload {
      opacity: 0;
      visibility: hidden;
  }
  
  @keyframes animation_loader {
      from {
          transform: translate(-50%, -50%) rotate(0deg);
      }
  
      to {
          transform: translate(-50%, -50%) rotate(360deg);
      }
  }
  
